@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Fjalla+One&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  position: relative;
  transition: all 0.2s;
}

a:hover{
  cursor: pointer;
  scale: 1.2;
}